.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

body
{
background-size: cover;
background-position: center;
}
canvas
{
    border: 5px solid cyan;
    box-shadow: 5px 5px 5px indigo;
}

.pictures
{
    background-color: red;
    width: 200px;
    border: solid 5px cyan;
    border-radius: 20px;
    box-shadow: 5px 5px 5px black;
}
